src/test/resources/xsd/pacs.008.001.10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.10"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.10"
           elementFormDefault="qualified">

    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="Ccy" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FIToFICstmrCdtTrf">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GrpHdr">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MsgId" type="xs:string"/>
                                        <xs:element name="CreDtTm" type="xs:dateTime"/>
                                        <xs:element name="NbOfTxs" type="xs:string"/>
                                        <xs:element name="TtlIntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CdtTrfTxInf">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PmtId">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="InstrId" type="xs:string"/>
                                                    <xs:element name="EndToEndId" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
                                        <xs:element name="Dbtr">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Nm" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Cdtr">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Nm" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
